[alias]
	lg = log --oneline --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	s = status -s
[color]
        ui = true
[user]
        name = Andreas Stokholm
        email = "andreas@stokholm.me"
[credential]
        helper = osxkeychain
[core]
        editor = vim
